<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mari</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="ion-text-center">
      <img
        src="https://i.pinimg.com/originals/ce/48/95/ce4895b50989ea961daf29aadd1f4800.jpg"
        alt=""
      />
    </div>
    <ion-card-header>
      <ion-card-title>Mari</ion-card-title>
    </ion-card-header>

    <div class="function ion-text-center" >
      <ion-icon name="call-outline" size="large">Ligar</ion-icon>
      <ion-icon name="mail-outline" size="large">SMS</ion-icon>
      <ion-icon name="videocam-outline" size="large">Vídeochamada</ion-icon>
    </div>

  <ion-card>
    <ion-item>
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label>Mariana Rove Ferreira</ion-label>
      <ion-button shape="round" color="translucent">
        <ion-icon
          size="small"
          slot="icon-only"
          name="pencil-outline"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item
      href="mailto:mariana.ferreira151@etec.sp.gov.br"
      class="ion-activated"
    >
      <ion-icon name="at-outline" slot="start"></ion-icon>
      <ion-label
        ><a href="mailto:mariana.ferreira151@etec.sp.gov.br"
          >mariana.ferreira151@etec.sp.gov.br</a
        ></ion-label
      >
      <ion-button shape="round" color="translucent">
        <ion-icon
          size="small"
          slot="icon-only"
          name="pencil-outline"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-item>

  </ion-card>
</ion-content>
